.header{
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;

    background-color: var(--bg-color-bars);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.header img{
    height: 2.5rem;
}

.left-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15.5rem;
}

.logo{
    width: 9rem;
    cursor: pointer;
}

.hamburger{
    height: 24px; 
}

.hamburger-button{
    padding-top: 0.3rem;
    width: 6rem;
    border: none;
    background-color:var(--bg-color-bars);
    cursor: pointer
}

.middle-section{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 6rem;
    max-width: 60rem;
}

.search-inp{
    flex:1;
    height: 3.6rem;
    padding-left: 1.2rem;
    padding-right: 0.2rem;
    font-size: var(--normal-font);
    border: 1px, solid lightgray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-inp::placeholder{
    font-size: var(--normal-font);
}

.search-button,
.voice-search-button{
    position: relative;
    height: 3.8rem;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.right-section button .tooltip{
    position: absolute;
    background-color: rgb(102, 102, 102);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    font-size: 1.2rem;
    bottom: -3rem;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.right-section button:hover .tooltip{
    opacity: 0.8;
}

.search-button{
    height: auto;
    width: 6.6rem;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    margin-left: -1px;
    transition: background-color 0.25s;
    align-self: stretch;
}

.search-button:hover{
    background-color: var(--hover-button-color);
}

.voice-search-button{
    width: 4rem;
    border-radius: 100%;
    border: none;
    margin-left: 1rem;
}

.right-section{
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-around;
    padding-right: 0.8rem;
    flex-shrink: 0;
    padding-left: 1rem;
}

.mobile-search-button{
    display: none;
}

.mobile-search-button,
.apps-button,
.upload-button,
.notification-button{ 
    position: relative;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.notification-score{
    font-size: 1rem;

    padding: 0.2rem 0.1rem;

    position: absolute;
    right: 0.3rem;
    top: 0;
    width: 1.4rem;

    background-color: var(--score-bg);
    color: white;
    border-radius: 100%;
}
