.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    left: 0px;

    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.left-section{
    display: flex;
}

.logo{
    height: 20px;
    cursor: pointer;
}

.hamburger{
    margin-left: 24px;
    margin-right: 24px;
    height: 24px;
    cursor: pointer;
}

.middle-section{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 60px;
    max-width: 470px;
    height: 40px;
}

.search-inp{
    width: 0;
    flex:1;
    height: 36.08px;
    padding-left: 12px;
    padding-right: 2px;
    font-size: 16px;
    border: 1px, solid lightgray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-inp::placeholder{
    font-size: 16px;

}

.search-button,
.voice-search-button,
.right-section button{
    position: relative;
    height: 40px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.right-section button .tooltip{
    position: absolute;
    background-color: rgb(102, 102, 102);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.right-section button:hover .tooltip{
    opacity: 0.8;
}

.search-button{
    width: 66px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    margin-left: -1px;
    transition: background-color 0.25s;
}

.search-button img{
    height: 25px;
}

.search-button:hover{
    background-color: rgb(223, 222, 222);
}

.voice-search-button{
    width: 40px;
    border-radius: 100%;
    border: none;
    margin-left: 10px;
}

.voice-search-button img{
    width: 25px;
}

.right-section{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    padding-right: 8px;
    flex-shrink: 0;
    padding-left: 10px;
}

.right-section button{
    position: relative;
    border: none;
    background-color: white;
    cursor: pointer;
}

.right-section button img{
    height: 25px;
}

.notification-score{
    font-size: 10px;

    padding-bottom: 2px;
    padding-top: 2px;

    position: absolute;
    right: 3px;
    top: 0px;
    width: 14px;

    background-color: rgb(186, 2, 2);
    color: white;
    border-radius: 100%;
}

.your-profile{
    height: 35px;
    width: 35px;
}