.side-bar{
    padding-top: 0.5rem;
    background-color: var(--bg-color-bars);
    position: fixed;
    top: 5.5rem;
    bottom: 0;
    left: 0;
    width: 7.2rem;
    z-index: 2;
    font-size: 1rem;
    display: none;
}

.sidebar-link{
    height: 7.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-link img{
    height: 2.4rem;
    margin-bottom: 0.65rem;
}

.sidebar-link:hover{
    background-color: var(--hover-button-color);
}

