.side-bar{
    padding-top: 0.5rem;
    background-color: var(--bg-color-bars);
    position: fixed;
    top: 5.5rem;
    bottom: 0;
    /* left: 0; */
    width: 7.2rem;
    z-index: 2;
    font-size: 1rem;
    transform: translateX(-100px);
    visibility: hidden;
    transition: transform 0.7s ease, visibility 0.7s;
    flex-direction: column;
    
}

.sidebar-link{
    height: 7.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-link img{
    height: 2.4rem;
    margin-bottom: 0.65rem;
}

.sidebar-link:hover{
    background-color: var(--hover-button-color);
}

.try{
    top: 0px;
    position:fixed;;
    height: 110vh;
    width: 110vw;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: 0.5s;   
}

.active-sidebar{
    transform: translateX(0);
    visibility: visible;    
}

.active-sidebartry{
    opacity: 0.6;
    visibility: visible;
}


