.title{
font-size: var(--normal-font);
font-weight: 600;
line-height: 2rem;
margin-bottom: 1rem;
}

.author,
.stats{
font-size: var(--normal-font);
color: rgb(96,96,96);
}

.author{
margin-bottom: 0.4rem;
}

.video-info-grid{
display: grid;
grid-template-columns: 5rem 1fr;
/* width: 90%; */
}

.thumbnail{
width: 100%;
}

.profile-photo{
width: 3.6rem;
border-radius: 50%;
}

.thumbnail-row{
position: relative;
margin-bottom: 0.8rem;
}

.video-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 0.8rem;
row-gap: 2.2rem;
padding: 20px;
}

.time{
    text-align: center;
    background-color: black;
    width:4rem;
    color: white;
    font-size: var(--normal-font);
    position: absolute;
    right: 2%;
    bottom: 4%;
}